services:
  hizzacoin-frontend:
    container_name: hizzasama-frontend
    build:
      context: hizzasama
      dockerfile: Dockerfile
      no_cache: true
    image: hizzasama-frontend
    volumes:
      - ./resources:/hizzasama/resources
      - ./screen/resources:/screen/resources
    restart: unless-stopped
    network_mode: host
  hizzacoin-backend:
    container_name: hizzacoin-backend
    build:
      context: .
      dockerfile: HizzaCoinBackend/Dockerfile
      no_cache: true
    image: hizzacoin-backend
    depends_on:
      - hizzacoin-database
    restart: unless-stopped
    network_mode: host

  hizzacoin-database:
    image: mongodb/mongodb-community-server:latest
    container_name: hizzacoin-database
    volumes:
      - ./mongo-data:/data/db
    restart: unless-stopped
    network_mode: host
